<a href="https://colab.research.google.com/github/madhavadama/nlp/blob/master/TFIDFCountVectoriser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Each Folder ---> 10 Text/Docx File 

documentList = []
for eachFile in Folder:

    extractText from eachFile

    clean_text = call function to clean the text 

    documentList.append(Clean_Text)

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
corpus = [
'This And is the first document. lavi is data scientsit. blah blah blah',
 'This And document is the second document.',
 'And this is the third one.',
  'Is  And this the first document?'
]
# it takes list of documents 
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)

In [0]:
X.shape

(4, 9)

In [0]:
import pandas as pd
pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names())

        and      blah      data  ...       the     third      this
0  0.135031  0.776274  0.258758  ...  0.135031  0.000000  0.135031
1  0.270602  0.000000  0.000000  ...  0.270602  0.000000  0.270602
2  0.296900  0.000000  0.000000  ...  0.296900  0.568947  0.296900
3  0.358548  0.000000  0.000000  ...  0.358548  0.000000  0.358548

[4 rows x 13 columns]

In [0]:
vectorizer = CountVectorizer()
Y = vectorizer.fit_transform(corpus)

In [0]:
print(vectorizer.get_feature_names())

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']

In [0]:
import pandas as pd
pd.DataFrame(Y.toarray(),columns=vectorizer.get_feature_names())

   and  document  first  is  one  second  the  third  this
0    0         1      1   1    0       0    1      0     1
1    0         2      0   1    0       1    1      0     1
2    1         0      0   1    1       0    1      1     1
3    0         1      1   1    0       0    1      0     1